<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="card-box"  style="height: 700px;">
            <div class="am-g">
                <div class="am-u-sm-12">
                    <table class="layui-hide" id="test"></table>
                </div>
            </div>
            <!-- Row end -->
        </div>
    </div>
</div>
<script src="__PUBLIC__/Admin/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assetsl/js/jquery-2.1.0.js" ></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('table', function(){
        var table = layui.table;

        table.render({
            elem: '#test',
            url:'{:U("Admin/Systems/read_log")}',
            cellMinWidth: 150 ,//全局定义常规单元格的最小宽度，layui 2.2.1 新增
            page: true,
            cols: [[
                {field:'0', width:200, title: '管理员',align:'center'}
                ,{field:'1', width:400, title: '操作时间', sort: true,align:'center'}
                ,{field:'2', width:200, title: 'IP地址',align:'center'}
                ,{field:'3', title: '操作',width:300,align:'center'} //minWidth：局部定义当前单元格的最小宽度，layui 2.2.1 新增
                ,{field:'4',width:420, title: '操作内容',align:'center'}
            ]]
        });
    });
</script>