<div class="content-page">
	<div class="content">
		<div class="am-u-md-6">
			<div class="card-box">
				<h4 class="header-title m-t-0 m-b-30">添加线路</h4>
				<h4 class="header-title m-t-0 m-b-30"></h4>
				<form class="am-form" action="{:U('Admin/Line/addline')}" method="post" enctype="multipart/form-data">
					<div class="am-form-group">
				      	<label for="doc-ipt-email-2">线路名称：</label>
				      	<input type="text" name="name" value=""  class="am-radius" style="width:50%;display: inline;" placeholder="请输入线路名称">
				    </div>
				    <div class="am-form-group">
				      	<label for="doc-ipt-email-2" style="letter-spacing: 3.5px;">出发地：</label>
				      	<input type="text" name="set_address" value="" class="am-radius" style="width:50%;display: inline;" placeholder="请输入出发地">
				    </div>
				    <div class="am-form-group">
				      	<label for="doc-ipt-email-2" style="letter-spacing: 3.5px;">目的地：</label>
				      	<input type="text" name="address" value="" class="am-radius" style="width:50%;display: inline;" placeholder="请输入目的地">
				    </div>
					<div class="am-form-group">
					    <label for="doc-ipt-email-2">出发时间：</label>
					    <input type="text" name="star_time" value="" id="test5" class="am-radius" style="width:50%;display: inline;" placeholder="请选择出发时间">
				    </div>
				    <div class="am-form-group">
				      	<label for="doc-ipt-email-2">项目时间：</label>
				      	<input type="text" name="this_time" value="" class="am-radius" style="width:50%;display: inline;" placeholder="请输入项目时间">
				    </div>
				    <div class="am-form-group">
				    	<div class="am-g">
				    		<label for="doc-ipt-email-2">线路课程：</label>
						    <select id="doc-select-1" name="curriculum_id" style="width:50%;display: inline;">
						        <option value="">-=请选择一项=-</option>
						       	<foreach name="curriculum" item="v">
						        	<option value="{$v.id}" >{$v.name}</option>
						        </foreach>
						    </select>
						    <span class="am-form-caret"></span>
				    	</div>
				    </div>
				    <div class="am-form-group">
				    	<div class="am-g">
				    		<label for="doc-ipt-email-2">对应学校：</label>
						    <select id="doc-select-1" name="school" style="width:50%;display: inline;">
						        <option value="">-=请选择一项=-</option>
						       	<foreach name="school" item="v">
						        	<option value="{$v.name}" >{$v.name}</option>
						        </foreach>
						    </select>
						    <span class="am-form-caret"></span>
				    	</div>					      
				    </div>
				    <div class="am-form-group">
				    	<div class="am-g">
				    		<label for="doc-ipt-email-2">对应年级：</label>
						    <select id="doc-select-1" name="grade" style="width:50%;display: inline;">
						        <option value="">-=请选择一项=-</option>
						        <option value="一年级">一年级</option>
						        <option value="二年级">二年级</option>
						        <option value="三年级">三年级</option>
						        <option value="四年级">四年级</option>
						        <option value="五年级">五年级</option>
						        <option value="六年级">六年级</option>
						    </select>
						    <span class="am-form-caret"></span>
				    	</div>					      
				    </div>
				    <div class="am-form-group">
				      	<label for="doc-ipt-email-2">对应班级：</label>
				      	<input type="text" name="class" value="" class="am-radius" style="width:50%;display: inline;" placeholder="请输入对应班级（不填表示所有用户均可参加）">
				    </div>
				    <div class="am-form-group">
				      	<label for="doc-ipt-email-2">最多人数：</label>
				      	<input type="text" name="tote" value="" class="am-radius" style="width:50%;display: inline;" placeholder="请输入路线团队最多人数">
				    </div>
				    <div class="am-form-group">
				    	<div class="am-g">
				    		<label for="doc-ipt-email-2" style="letter-spacing: 3.5px;">辅导员：</label>
						    <select id="doc-select-1" name="guide" style="width:50%;display: inline;">
						        <option value="">-=请选择一项=-</option>
						       	<foreach name="guide" item="v">
						        	<option value="{$v.id}">{$v.username}</option>
						        </foreach>
						    </select>
						    <span class="am-form-caret"></span>
				    	</div>					      
				    </div>
				    <div class="layui-upload">
				    	<label for="doc-ipt-email-2">线路图：</label>
                        <div class="layui-upload-list">
                        	<img style="width: 150px;margin-bottom: 12px;" class="layui-upload-img" src="" id="demo1">
                            <p></p>
                            <button style="font-size: 12px;height: 30px;line-height: 30px;" type="button" class="layui-btn" id="test1">选择图片</button>
                        </div>
                    </div>
                    <input type="hidden" name="img" id="img">
				    <button type="submit" class="am-btn am-btn-primary">提交</button>
				</form>
				<!--<hr/>
            	<p>注：预定退订扣除所设置的百分比手续费。</p>-->
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="__PUBLIC__/Admin/assetsl/js/jquery-2.1.0.js" ></script>
<script type="text/javascript" src="__PUBLIC__/Admin/layui/layui.js" ></script>
<script src="__PUBLIC__/Admin/kindeditor/kindeditor.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
	layui.use('laydate', function(){
		var laydate = layui.laydate;
		//日期时间选择器
	  laydate.render({
	    elem: '#test5'
	    ,type: 'datetime'
	  });
	})
	
	KindEditor.ready(function(K) {
        window.editor = K.create('.textarea',{
            pasteType:1
        });
    });
    function check(th){
	    var regStrs = [
	        ['^0(\\d+)$', '$1'], //禁止录入整数部分两位以上，但首位为0
	        ['[^\\d\\.]+$', ''], //禁止录入任何非数字和点
	        ['\\.(\\d?)\\.+', '.$1'], //禁止录入两个以上的点
	        ['^(\\d+\\.\\d{2}).+', '$1'] //禁止录入小数点后两位以上
	    ];
	    for(i=0; i<regStrs.length; i++){
	        var reg = new RegExp(regStrs[i][0]);
	        th.value = th.value.replace(reg, regStrs[i][1]);
	    }
	}
    layui.use('upload', function(){
        var $ = layui.jquery,
            upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '{:U("Admin/Common/add_imgs")}'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                $('#img').val(res.src);
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    })
</script>